.evidence_item {
    background: lightgray;
    display: inline-block;
    float: left;
    margin:  10px;
    padding: 10px;
    text-align: center;
}


#evidence_selector {
    width: 400px;
    margin: 0 auto;
    background: yellow;
}